@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.details-image{
    margin: 15px 15px 15px 15px;
}

.details-image a svg{
    padding-top: 5px;
    color: black;
}

.details-image div{
    display: flex;
    justify-content: space-between;
}

.details-image img{
    width: 100%;
    aspect-ratio: 1/.85;
    object-fit: cover;
}

.details-image button{
    background-color: transparent;
    border: none;
}

.details-section{
    margin: 0 15px;
}

.details-section h1{
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6em;
    font-weight: 500;
}

.details-section p{
    font-family: "Roboto", sans-serif;
}

.details-rating{
    color: #7f7f7f;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.4em;
}


.details-rating span{
    color: #FF9633;
    font-size: 1.2em;
}

.details-description{
    color: #7f7f7f;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.4em;
    line-height: 1.7em;
}

.extra-info{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.extra-info-title{
    font-size: .9em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
}

.spiciness{
    width: 45%;
}

.spiciness div{
    display: flex;
    justify-content: space-between;
}

.spiciness input{
    margin: 5px 0;
    width: 100%;
}

.spiciness div p{
    font-size: .8em;
    margin-top: 3px;
    margin-bottom: 0;
    font-weight: 500;
}

.spiciness div p:first-child{
    color: #1CC019;
}

.spiciness div p:last-child{
    color: #EF2A39;
}

.portions div{
    display: flex;
    justify-content: space-between;
}

.portions button{
    width: 40px;
    height: 40px;
    background-color: #EF2A39;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.portions div p{
    margin: 0 17px;
    padding-top: 8px;
    font-size: 1.2em;
}

.order-section{
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px * 2);
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.order-section p{
    font-size: 1.5em;
    font-weight: 400;
    background-color: #EF2A39;
    color: white;
    padding: 20px 25px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.order-section button{
    width: 50%;
    color: white;
    background-color:  #3C2F2F;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: 400;
}